[submodule "libs/CLI11"]
	path = libs/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "libs/google-benchmark"]
	path = libs/google-benchmark
	url = https://github.com/google/benchmark.git
